<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]

  # Proxy for Yahoo Finance API (Requires mod_proxy and mod_ssl)
  RewriteRule ^api/yahoo/v8/(.*)$ https://query1.finance.yahoo.com/v8/$1 [P,L]
  RewriteRule ^api/yahoo/v1/(.*)$ https://query1.finance.yahoo.com/v1/$1 [P,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
